<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<hr><h1>Welcome to the text analyzer. Enter your text bellow
</h1></hr>
<form action="/analyze" method="get">
<textarea name="text" style="margin: 0px; width: 721px; height: 166px;"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
<button type="submit">analyze text</button>
</form>
</body>
</html>